node_modules
.env
coverage
coverage.json
docgen
typechain

#Hardhat files
cache
artifacts
mocharc.json
hardhat.config.js

# env files
.env*

# solhint linter files
.solhint.json
scripts/createTradingGauge.js
scripts/createLendingGauge.js
.openzeppelin/unknown-11155111.json
